<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
  colors="true"
  testdox="true"
>
  <testsuites>
    <testsuite name="MyFramework Test Suite">
      <directory>./tests</directory>
    </testsuite>
    <testsuite name="MyFramework Test Suite" tests="1" failures="0" errors="0" skipped="0">
      <testcase name="Generate number invoice" classname="Tests\InvoiceServiceTest" time="0.001"/>
    </testsuite>
  </testsuites>
</phpunit>

