{% extends "base.html.twig" %}
{% block content %}




	<div class="text-center py-5">
			<h1 class="display-4 mb-4">¡Bienvenida a Barbie World!</h1>
			<p class="lead mb-4">Un lugar especial donde todos tus sueños pueden hacerse realidad</p>
			<div class="d-flex justify-content-center gap-3 flex-wrap">
				<button class="btn btn-barbie" href="jsijd">Explorar</button>
				<button class="btn btn-outline-barbie">Descubrir más</button>
			</div>
		</div>


{% endblock %}
